@import url('../config.css');

body {
    background-color: var(--cor-fundo);
}

.Login-content{
    padding-top: 15%;
    display: flex;
    justify-content: center;   
}

.form-signin {
    width: 50%;
    margin-left: -25%
}

.btn-login{
    background-color: var(--cor-titulo);
    color: var(--cor-fundo); 
    width: 50%;
    margin: 4% 25% 1% 25%;
}

.btn-login:hover{
    background-color: var(--cor-fundo);
    color: var(--cor-titulo);
    border-color: var(--cor-titulo);
}

.btn-login:focus{
    box-shadow: none
}

.opcoes-login a{
    text-decoration: none;
    color: var(--cor-titulo);
    transition: .2s ease-in-out;
}

.opcoes-login a:hover{
    color: var(--cor-principal);
    font-weight: bold;
}