@import url('../../../src/view/config.css');

#logo-img {
    height: 40px;
}

#navbar{
    background-color: var(--cor-titulo);
    display: flex;
    justify-content: space-between;
}

.texto-nav{
    color: var(--cor-fundo);
    font-weight: bold;
    font-size: 1.1rem;
    text-decoration: none;
}

.texto-nav:hover {
    color: var(--cor-principal);
    text-decoration: none;
    transition: .2s ease-in;
}
